/Dataset/
/GNN/tensorboard/
/GNN/model
/TransferLearning/QM9/model
/TransferLearning/Cypstrate/tensorboard
/TransferLearning/Cypstrate/*/model
/TransferLearning/Subgraph/tensorboard
/TransferLearning/Subgraph/*/model
/SearchPara/
/SubGraph/tensorboard
/SubGraph/model
/SubGraphClassification/subgraphdataset
/SubGraphClassification/tensorboard
/SubGraphClassification/model
/deepGNN/model
/deepGNN/tensorboard